/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px !important;
} */

.card-container {
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  margin: auto;
}

.score-container {
  margin: auto;
}

body{
  padding-top: 50px;
}

html, body{
  
  color: #fff;
}

