.display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 100px;
}

.all-btns-container {
  flex: 1;
  order: 2;
}

.card-container {
  font-family: 'Courier New', Courier, monospace;
  width: 40%;
  flex: 1;
  margin-top: 25px;
  order: 1;
}

.score-container {
  margin: auto;
}

body {
  padding-top: 0px;
  /* overflow: hidden; */
  overflow-x: hidden;
}

#root {
  height: 100vh;
}

.score {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: white;
}

.time {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.example-testcases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 60px;
}

.input-testcases {
  flex: 1;
  justify-content: center;
}

.output-testcases {
  flex: 1;
}
