ol.progtrckr {
    list-style-type: none;
    padding: 0;
  }
  
  ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 420%;
    cursor: pointer;
    width: 18.5%
  }
  
  ol.progtrckr li span {
    padding: 20%; 
  }
  
  @media (max-width: 650px) {
    .progtrckr li span {
      display: none;
    }
  }
  .progtrckr em {
    display: none;
  }

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: white;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: white;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: white;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

  ol.progtrckr li.progtrckr-done:hover:before {
    color: #333;
  }
  #prev-button{
    margin-left: 10%;
  }

  #next-button{
    margin-left: 10%;
  }
